<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="https://code.angularjs.org/1.2.1/angular.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="firebase.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body ng-controller="videoController" class="container">
    <div id="video itself" class="row">
        <div class="col-sm-12 text-center pagination-centered ">
            <h1> Currently playing: {{current}} <h1>
    </div>
  </div>
  <div class="row jumbotron">
    <div class="col-sm-12 text-center pagination-centered">
      <iframe height="378" width="620" ng-src="{{getIframeSrc(current)}}" frameborder="0 " allowfullscreen></iframe>
    </div>
  </div>
  <button type="button" class="btn btn-primary" ng-click="refresh();">Refresh stream<span class="glyphicon glyphicon-play-circle"></span></button>

<!-- add new stream -->
  <script>
    var app = angular.module('myApp', ["firebase"]);
    // White list for the external websites 
app.config(function($sceDelegateProvider) {
  $sceDelegateProvider.resourceUrlWhitelist([
    'self',
    'http://usher.ttvnw.net/**',
    'http://player.twitch.tv/**',
    'https://player.twitch.tv/**',
    'https://controlroom.firebaseio.com/'
  ]);
});
//controller for the videos
app.controller('videoController', ['$scope',
  function MyCtrl($scope, $firebaseObject){
    $scope.currentStream = csVar;
    $scope.streams = sVar;
    $scope.current;
    $scope.getIframeSrc = function(src) {
      return 'https://player.twitch.tv/?channel=' + src ;
    };
    
    $scope.currentStream.on('value', function(snapshot){
      console.log("ON Function: " + snapshot.val());
      $scope.current = snapshot.val();
      $scope.$apply();
    });
    
    $scope.refresh = function(){
      console.log("REFRESH");
      $scope.currentStream.once('value',function(snapshot){
          $scope.current = snapshot.val();
      });
    };
    
    $scope.setCurrent = function(src){
    $scope.currentStream.set(src);
  };
  }]);
  </script>
</body>

</html>