<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="https://code.angularjs.org/1.2.1/angular.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
  <script src="firebase.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />

  <script src="script.js"></script>
</head>


<body ng-controller="videoController as v" class="container">
  <div class="row">
    <div class="col-sm-12 text-center pagination-centered ">
      <h1> Currently playing: {{current}} <h1>
    </div>
  </div>
  <div class="row jumbotron">
    <div class="col-sm-12 text-center pagination-centered">
      <iframe width="500" height="300" ng-src="{{getIframeSrc(current)}}" frameborder="0 " allowfullscreen></iframe>

    </div>
  </div>
  <div class="row">
  </div>

  <div class="row">
    <div ng-repeat="media in product.media" >
      <div class="thumbnail col-md-4 panel panel-default">
        <div class="video panel-body">
          <div class="panel-heading">{{media.src}}</div>
          <div >
             <iframe width="400" height="315" ng-src="{{getIframeSrc(media.src)}}" frameborder="0 " allowfullscreen></iframe>
            </div>
            <div class="row">
            <button type="button" class="btn btn-primary" ng-click="setCurrent(media.src);">Stream it! <span class="glyphicon glyphicon-play-circle"></span></button>
            </div>
        </div>
      </div>
    </div>
  </div>
 
  
  <div class="row">
    <div ng-repeat="m in str">
      {{m}}
      </div>
  </div>
  
 

<!-- add new stream -->

  <script>
   
    var app = angular.module('myApp', []);
    
    // White list for the external websites 
app.config(function($sceDelegateProvider) {
  $sceDelegateProvider.resourceUrlWhitelist([
    'self',
    'https://player.twitch.tv/**'
  ]);
});

//controller for the videos
app.controller('videoController', ['$scope',
  function MyCtrl($scope) {
    $scope.currentStream = csVar;
    $scope.streams = sVar;
    $scope.current;
    $scope.temp;
    $scope.product = {
      name: 'myChannel',
      description: 'some description',
      media: [{
        src: 'impaktpt'
      },
      {
          src:'deadmau5'
      },
      {
        src: 'wintergaming'
      }]
    }; 
    
    $scope.str;
    
    $scope.streams.on('value',function(snapshot){
      console.log("STREAMS: " + snapshot.val());
      $scope.str = snapshot.val();
    });
    
    $scope.addStream = function(stream){
    }
    
    
    $scope.getIframeSrc = function(src) {
      return 'https://player.twitch.tv/?channel=' + src ;
    };
    
    
    
    
    $scope.currentStream.on('value', function(snapshot){
      $scope.current = snapshot.val();
    })
    
    
    
    $scope.setCurrent = function(src){
    $scope.currentStream.set(src);
  };
  }]);
  </script>
</body>

</html>